body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div{
    text-align: center;
}

h1{
    margin-bottom: 0px;
    display: inline;
    background-color: rgb(102, 218, 218);
}

table, tr, td{
    border: 1px solid black;
    text-align: center;
}

td, th{
    padding-left: 30px;
    padding-right: 30px;
}

th{
    padding-top: 10px;
}

table{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width: 5px;
    background-color: antiquewhite;
}

tr > td{
    border-top: none;
}

tfoot > tr > td{
    border: none;
    background-color: rgb(102, 218, 218);
    font-weight: bold;
}